@import "tailwindcss";

@theme {
  /* Book Next Door Brand Colors */
  --color-olive: #4A5A45; /* #4A5A45 */
  --color-taupe: #837669; /* #837669 */
  --color-cream: #F7F2EC; /* #F7F2EC */
  --color-dark-accent: #333333; /* #333333 */
}